body {
  background-color: #dadada;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  margin-right: 2rem;
}
.activeLink {
  color: pink;
}

.Link {
  color: rgb(225, 225, 255);
}
.Link:hover {
  color: pink;
  transition: 0.5s ease-in-out;
}

.center {
  display: grid;
  place-items: center;
}

.center h1 {
  color: rgb(65, 65, 245);
  font-size: 50px;
}

.deletedItem {
  margin: 0 0.5rem;
  color: red;
}
.sort {
  font-size: 24px;
  margin-right: 6px;
  color: rgb(65, 65, 245);
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
